*{
    /* background-color: rgb(80, 65, 246); */
    padding: 0%;
    margin: 0%;
}
h1{
    background-color: rgb(241, 155, 155);
    font-family: 'Times New Roman', Times, serif;\
}
p{
    

}
img{
    width: 500px;
}